# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# mcp servers
/mcp-servers/.

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files and configs with sensitive data
.env*.local
.env
mcp-config.json

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Exclude tool state logs
tool-state-log.json
